# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
.gitsecret/keys/random_seed
!*.secret
seed_db/firebase_admin.json
seed_db/art/base.csv
seed_db/art/plus.csv
seed_db/expression/base.csv
seed_db/expression/plus.csv
seed_db/improbable/base.csv
seed_db/improbable/plus.csv
seed_db/rebus/base.csv
seed_db/rebus/plus.csv
seed_db/tmp
fastlane/.env
fastlane/report.xml
